// CharacterCard.scss

@import "../../variables.scss";

.characterCard {
  max-width: 300px;
  width: 100%;
  min-height: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-background-card;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: $padding-base;
  text-align: center;

  &__image {
    width: 100%;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: $border-radius;
    margin-bottom: $padding-base;
  }

  &__nickname {
    font-size: $font-size-large;
    color: $color-text;
    margin-bottom: $padding-base;
    font-weight: 700;
  }

  &__catchPhrase {
    font-size: $font-size-base;
    color: $color-text;
    margin-bottom: auto;
  }

  &__viewInfo {
    display: inline-block;
    padding: $padding-base 2 * $padding-base;
    background-color: $color-secondary;
    text-decoration: none;
    border-radius: $border-radius;
    font-size: $font-size-base;
    transition: all 300ms ease;

    &:hover {
      background-color: $color-secondary-hover;
    }
  }
}
